.block1{
   background-color: grey;
}
.nav1{
    background-color: black;
    color: white;
}
.block2{
   background-color: grey;
}
.nav2{
    background-color: black;
    color: white;
}
.block3{
   background-color: grey;
}
.nav4{
    background-color: black;
    color: white;
}
